In [1]:
#demand forecasting of walmart

In [27]:
import pandas as pd
d=pd.read_csv('features.csv')

In [28]:
d.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

In [29]:
d.dtypes

Store             int64
Date             object
Temperature     float64
Fuel_Price      float64
MarkDown1       float64
MarkDown2       float64
MarkDown3       float64
MarkDown4       float64
MarkDown5       float64
CPI             float64
Unemployment    float64
IsHoliday          bool
dtype: object

In [1]:
d.columns

NameError: name 'd' is not defined

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
Store,1.000000e+00,0.000000,-0.020566,0.066682,-0.136967,-0.044223,-0.033279,-0.005174,-0.011970,-0.209282,0.221153,-2.107519e-19
Date,0.000000e+00,1.000000,0.022788,0.662724,-0.006384,-0.131749,-0.069437,-0.019789,-0.047251,0.087536,-0.312953,-1.319757e-02
Temperature,-2.056605e-02,0.022788,1.000000,0.101354,-0.124979,-0.321888,-0.077552,-0.064194,-0.003241,0.164426,0.150890,-1.619056e-01
Fuel_Price,6.668205e-02,0.662724,0.101354,1.000000,0.066122,-0.193461,-0.057168,-0.008546,-0.021926,-0.186696,-0.033360,-7.823797e-02
MarkDown1,-1.369671e-01,-0.006384,-0.124979,0.066122,1.000000,0.021289,-0.089841,0.810455,0.085967,-0.044327,0.020501,1.526209e-01
MarkDown2,-4.422331e-02,-0.131749,-0.321888,-0.193461,0.021289,1.000000,-0.053555,-0.046595,-0.008166,-0.044896,-0.001692,2.994476e-01
MarkDown3,-3.327926e-02,-0.069437,-0.077552,-0.057168,-0.089841,-0.053555,1.000000,-0.062785,-0.016026,-0.020166,-0.003464,4.452239e-01
MarkDown4,-5.173997e-03,-0.019789,-0.064194,-0.008546,0.810455,-0.046595,-0.062785,1.000000,0.042952,-0.053868,0.021905,1.348406e-01
MarkDown5,-1.196994e-02,-0.047251,-0.003241,-0.021926,0.085967,-0.008166,-0.016026,0.042952,1.000000,0.001526,0.031847,-2.462956e-02
CPI,-2.092824e-01,0.087536,0.164426,-0.186696,-0.044327,-0.044896,-0.020166,-0.053868,0.001526,1.000000,-0.303110,1.008430e-03
Unemployment,2.211525e-01,-0.312953,0.150890,-0.033360,0.020501,-0.001692,-0.003464,0.021905,0.031847,-0.303110,1.000000,-2.644393e-03
IsHoliday,-2.107519e-19,-0.013198,-0.161906,-0.078238,0.152621,0.299448,0.445224,0.134841,-0.024630,0.001008,-0.002644,1.000000e+00

In [30]:
t=pd.read_csv('train.csv')

In [31]:
s=pd.read_csv('stores.csv')

In [32]:
d.columns,t.columns,s.columns

(Index(['Store', 'Date', 'Temperature', 'Fuel_Price', 'MarkDown1', 'MarkDown2',
        'MarkDown3', 'MarkDown4', 'MarkDown5', 'CPI', 'Unemployment',
        'IsHoliday'],
       dtype='object'),
 Index(['Store', 'Dept', 'Date', 'Weekly_Sales', 'IsHoliday'], dtype='object'),
 Index(['Store', 'Type', 'Size'], dtype='object'))

In [34]:
df=pd.merge(t,d,on=['Store','Date','IsHoliday'],how='inner')
df.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,1,1,2010-02-05,24924.50,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106
1,1,2,2010-02-05,50605.27,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106
2,1,3,2010-02-05,13740.12,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106
3,1,4,2010-02-05,39954.04,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106
4,1,5,2010-02-05,32229.38,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106

In [35]:
df=pd.merge(df,s,on=['Store'],how='inner')

In [36]:
df.head()

,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Type,Size
0,1,1,2010-02-05,24924.50,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,A,151315
1,1,2,2010-02-05,50605.27,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,A,151315
2,1,3,2010-02-05,13740.12,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,A,151315
3,1,4,2010-02-05,39954.04,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,A,151315
4,1,5,2010-02-05,32229.38,False,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,A,151315

In [40]:
df['markdown']=df['MarkDown1']+df['MarkDown2']+df['MarkDown3']+df['MarkDown4']+df['MarkDown5']

In [41]:
drop_c = ['MarkDown1','MarkDown2','MarkDown3','MarkDown4','MarkDown5']

In [42]:
df.drop(drop_c,axis=1,inplace=True)
#df.fillna(0,axis=1,inplace=True)

In [71]:
df.head()

,Store,Dept,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,CPI,Unemployment,Type,Size,markdown,year,month,date
0,1,1,24924.50,False,42.31,2.572,211.096358,8.106,A,151315,0.0,2010,2,5
1,1,2,50605.27,False,42.31,2.572,211.096358,8.106,A,151315,0.0,2010,2,5
2,1,3,13740.12,False,42.31,2.572,211.096358,8.106,A,151315,0.0,2010,2,5
3,1,4,39954.04,False,42.31,2.572,211.096358,8.106,A,151315,0.0,2010,2,5
4,1,5,32229.38,False,42.31,2.572,211.096358,8.106,A,151315,0.0,2010,2,5

In [72]:
df.to_csv('walmart.csv')

In [61]:
df.dtypes

Store                    int64
Dept                     int64
Date            datetime64[ns]
Weekly_Sales           float64
IsHoliday                 bool
Temperature            float64
Fuel_Price             float64
CPI                    float64
Unemployment           float64
Type                    object
Size                     int64
markdown               float64
dtype: object

In [55]:
from pandas import DatetimeIndex

In [57]:
df.Date=pd.to_datetime(df.Date)

In [62]:
df['year']=DatetimeIndex(df['Date']).year

In [64]:
df['month']=DatetimeIndex(df['Date']).month

In [69]:
df['date']=DatetimeIndex(df['date']).day

In [66]:
df.drop('Date',axis=1,inplace=True)

In [77]:
y=df['Weekly_Sales']

In [92]:
X=df.drop(['Type','Weekly_Sales'],axis=1)

In [93]:
X.columns

Index(['Store', 'Dept', 'IsHoliday', 'Temperature', 'Fuel_Price', 'CPI',
       'Unemployment', 'Size', 'markdown', 'year', 'month', 'date'],
      dtype='object')

In [104]:
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression

In [105]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=3)

In [96]:
m=LinearRegression()

In [97]:
m.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [98]:
p=m.predict(X_test)

In [99]:
p

array([ 29113.38401329,   8115.36548092,  16873.37085665, ...,
        17818.25673281,  23995.22188861,  11828.07386106])

In [106]:
sc=m.score(X_test,y_test)

In [107]:
sc

0.085113252672195161