In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split 
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score,mean_squared_error
df=pd.read_csv('walmart.csv')
df.head()

,Unnamed: 0,Store,Dept,weeklySales,isHoliday,Type,Size,Temperature,Fuel_Price,CPI,Unemployment,markdown,year,month,date
0,0,1,1,24924.50,False,A,151315,42.31,2.572,211.096358,8.106,0.0,2010,2,5
1,1,1,1,46039.49,True,A,151315,38.51,2.548,211.242170,8.106,0.0,2010,2,12
2,2,1,1,41595.55,False,A,151315,39.93,2.514,211.289143,8.106,0.0,2010,2,19
3,3,1,1,19403.54,False,A,151315,46.63,2.561,211.319643,8.106,0.0,2010,2,26
4,4,1,1,21827.90,False,A,151315,46.50,2.625,211.350143,8.106,0.0,2010,3,5

In [4]:
y=df['weeklySales']
X=df.drop(['Type','weeklySales'],axis=1)
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=3)

In [8]:
n_est = [10,20,30,40,50,60]
#n_est=[130,140,150,160]
acc_sc = []
rmse_sc = []
results = pd.DataFrame()

for i in n_est:
    m=RandomForestRegressor(n_estimators = i, bootstrap = True, random_state=3)
    m.fit(X_train,y_train)
    y_pred = m.predict(X_test)
    y_pred_acc = m.score(X_test,y_test)
    mse = mean_squared_error(y_test,y_pred)
    rmse= np.sqrt(mse)
    acc_sc.append(y_pred_acc)
    rmse_sc.append(rmse)

In [9]:
for x,y in zip(n_est,acc_sc):
    print(x,y)

10 0.969719480831862
20 0.9714492010984958
30 0.972322039429456
40 0.9723944310011667
50 0.9726827750015774
60 0.9726979661247704

In [11]:
max(acc_sc)*100

97.26979661247704